@model IEnumerable<TourDuLich.Models.tour_nhanvien>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách Nhân viên</h2>

<p>
    @Html.ActionLink("Thêm Nhân viên", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nv_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nv_ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nv_sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nv_ngaysinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nv_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nv_nhiemvu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nv_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nv_ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nv_sdt)
        </td>
        <td>
            @item.nv_ngaysinh.ToString("dd'/'MM'/'yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nv_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nv_nhiemvu)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.nv_id })
        </td>
    </tr>
}

</table>
