@model TourDuLich.Models.tour_chiphi

@{
    ViewBag.Title = "Edit";
}
@Scripts.Render("~/bundles/jquery")

<script src="~/Content/JS/tourCPhiController.js"></script>

<h2>Sửa chi phí đoàn đi tour</h2>
<hr />
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.chiphi_id)

        <div class="col-md-12">
            <div class="form-row">
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.doan_id, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.doan_id, ViewBag.doan as SelectList, new { @class = "form-control max-width" })
                    @Html.ValidationMessageFor(model => model.doan_id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="loaiChiPhi">Loại chi phí</label>
                    @Html.DropDownList("loaiChiPhiOption", ViewBag.loaiChiPhi as SelectList, new { @class = "form-control max-width" })
                </div>

                <div class="form-group col-md-12">
                    <label for="hoaDon">Hóa đơn</label>
                    <input type="text" class="form-control max-width" id="hoaDon">
                </div>

                <div class="form-group col-md-12">
                    <label for="noiDung">Nội dung</label>
                    <input type="text" class="form-control max-width" id="noiDung">
                </div>

                <div class="form-group col-md-12">
                    <label for="ngay">Ngày thanh toán</label>
                    <input type="date" class="form-control max-width" id="ngay">
                </div>

                <div class="form-group col-md-12">
                    <label for="soTien">Số tiền</label>
                    <input type="text" class="form-control max-width" id="soTien">
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="button" value="Thêm" class="btn btn-primary" onclick="addCost()" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div style="height:320px; overflow-y:auto; overflow-x:hidden">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Hóa đơn</th>
                            <th scope="col">Loại chi phí</th>
                            <th scope="col">Nội dung</th>
                            <th scope="col">Ngày</th>
                            <th scope="col">Số tiền</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="costDetailTable">
                        @foreach (var item in ViewBag.chiPhiChiTiet)
                        {
                            <tr>
                                <td>
                                    @item.chiphi_chitiet.hoaDon
                                    <input type="hidden" value="@item.chiphi_chitiet.hoaDon" name="hoaDon" />
                                </td>
                                <td>
                                    @item.loaiChiPhiText
                                    <input type="hidden" value="@item.chiphi_chitiet.loaiChiPhi" name="loaiChiPhi" />
                                </td>
                                <td>
                                    @item.chiphi_chitiet.noiDung
                                    <input type="hidden" value="@item.chiphi_chitiet.noiDung" name="noiDung" />
                                </td>
                                <td>
                                    @TourDuLich.Controllers.tourCPhiController.formatDateToPrint(item.chiphi_chitiet.ngay)
                                    <input type="hidden" value="@item.chiphi_chitiet.ngay" name="ngay" />
                                </td>
                                <td>
                                    @TourDuLich.Controllers.tourCPhiController.formatMoneyToPrint(item.chiphi_chitiet.soTien) VND
                                    <input type="hidden" value="@item.chiphi_chitiet.soTien" name="soTien" />
                                </td>
                                <td><a href="#" onclick="removeCost(this)">Xóa</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div style="margin-top:30px">
                <h4>
                    <b>Tổng cộng: </b>
                    <span id="totalShow">
                        @TourDuLich.Controllers.tourCPhiController.formatMoneyToPrint(Model.chiphi_total)
                    </span> VND
                </h4>
                @Html.EditorFor(model => model.chiphi_total, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
            </div>
        </div>
        <div class="col-md-12" style="margin-top:30px">
            <input type="submit" value="Lưu" class="btn btn-success" />
        </div>
    }
</div>

<div style="margin-top:30px">
    @Html.ActionLink("Xóa", "Delete", new { id = Model.chiphi_id }, htmlAttributes: new { @class = "btn btn-danger", @role = "button" })
    @Html.ActionLink("Quay lại danh sách chi phí", "Index")
</div>
